html ,  body { 
    overflow-x: hidden;
    background-color: transparent;
    font-family: "Bold" , sans-serif;
    background-color: #000;
    scroll-behavior: smooth !important;
}
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Bold";
    src: url(../Fonts/Jost-Bold.ttf);
}
@font-face {
    font-family: "Light";
    src: url(../Fonts/Jost-Light.ttf);
}
@font-face {
    font-family: "Thin";
    src: url(../Fonts/Jost-Thin.ttf);
}
@font-face {
    font-family: "Medium";
    src: url(../Fonts/Jost-Medium.ttf);
}
ul ,ol { 
    list-style-type: none;
}
a { 
    text-decoration: none;
}
/* Css for loading page  */

.important { 
  -webkit-animation: important 2s forwards; 
  animation: important 2s forwards;
  background-color: black;
  z-index: -1;
}
.loading{
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background-color: black;
  z-index: -111;
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
  z-index: -1111;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
  /* Loading css ends here  */
.blog { 
position: relative;
background: url(../Images/background\ image.jpg);
width: 100%;
object-fit: cover;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-position: center;
height: 50vh;
animation: opacity 1s  linear ;

}
.blog::before { 
position: absolute;
content: "";
left: 0;
top: 0;
bottom: 0;
right: 0;
background: rgba(0, 0, 0, 0.6);
}

.blog .container { 
  position: relative;
}
.blog header { 
  position: relative;
}
.blog header .row-header { 
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  padding: 15px 0;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 111111111;
  background-color: #09aff4;
}
.blog header .row-header .col-header { 
  position: relative;
}
.blog header .row-header .col-header .header-nav { 
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
  padding: 20px 0;
}
.blog header .row-header .col-header .header-nav li a { 
  font-size: 18px;
  font-family: "Bold";
  color: #fff;
  font-weight: 300;
  margin: 0 auto;
}
.blog header .row-header .col-header .header-nav li a:hover { 
  color: #0d6efd;
  transition: 0.3s ease-in;
}
.blog header .row-header .col-header .icon { 
  position: relative;
}
.blog header .row-header .col-header .icon i { 
  font-size: 20px;
  color: #fff;
  cursor: pointer;

}
/* Mobile Version */
.nav-burger { 
  display: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #3D0E61;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #B9FAF8;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: inline;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #f3f3fa, #f3f3fa 20%, 
      transparent 20%, transparent 40%, 
      #f3f3fa 40%, #f3f3fa 60%, 
      transparent 60%, transparent 80%, 
      #f3f3fa 80%, #f3f3fa 100%
    );
}

#hamburger-menu #sidebar-menu {
    position: fixed;
    top: 75px;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #0f688f;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #fff;
  font-size: 20px;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}




/* End of mobile version */
.blog .row { 
 display: flex;
 justify-content: center;
 padding: 50px 0;
 align-items: center;
 position: relative;
 left: 0;
 top: 100px;
 flex-direction: column;
 row-gap: 20px;
}
.blog .row h2 { 
    font-size: 45px;
    font-family: "Bold";
    color: #fff;
}
.blog .row h3 { 
    color: #fff;
}
.blog .row h3 a { 
    color: #fff;
}
.blog .row h3 a:hover { 
    color: #09aff4;
    transition: 0.3s ease;
}
.blog .row i:hover { 
    color: #09aff4;
    transition: 0.3s ease;
}
.blog .row span { 
    color: #fff;
    filter: brightness(0.8);
}
.blog .row i { 
    font-size: 15px;
}
.services { 
    background-color: #0d1020;
    position: relative;
    padding: 50px 100px;
  }
  .services .title { 
    position: relative;
    display: block;
    text-align: start;
    display: none;
  }
  .services .title h3 { 
    font-size: 17px;
    font-family: "Bold";
    font-weight: 300;
    color: #09aff4;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .services .title h3::before { 
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: -20px;
    top: 17px;
    border-radius: 100%;
  }
  .services .title h3::after { 
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: 93px;
    top: 17px;
    border-radius: 100%;
  }
  .services .svc { 
    position: relative;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
     align-items: center;
     column-gap: 25px;
     display: none;
  }
  .services .svc .col-1 , .col-2 { 
    flex-basis: 50%;
    position: relative;
  }
  .services .svc .col-2{ 
    text-align: end;
  }
  .services .svc .col-1 h2 { 
    font-size: 35px;
    font-family: "Light";
    color: #fff;
    font-weight: 1000;
  }
  .services .svc .col-1 h4 { 
    font-size: 20px;
    font-family: "Thin";
    font-weight: 1000;
    color: #fff;
    filter: brightness(50%);
  
  }
  .services .svc .col-2 a button { 
    width: 250px;
      position: relative;
      padding: 15px 19px;
      background: #09aff4;
      color: white;
      font-size: 18px;
      border: transparent;
      font-family: "Bold";
      font-weight: 300;
      outline: none;
      border-top-left-radius: 6px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 6px;
      cursor: pointer;
      border: 2px solid #09aff4;
  }
  .services .svc .col-2 a button:hover { 
    background-color: transparent;
    border: 2px solid #09aff4;
    transition: 0.4s all linear;
    color: #09aff4;
  }
  .services .svc i { 
    font-size: 18px;
    position: relative;
    left: 5px;
    top: 2px;
  }
  .services .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    align-items: center;
    padding: 25px 0;
    outline: none;
    position: relative;
    display: none;
  }
  .services .row .col { 
    padding: 30px;
    border: 1px solid #144c64;
    border-radius: 15px;
    position: relative;
    animation: color 10.0s linear infinite;
    background-color: transparent;
    transition: .5s ease-out;
    background: linear-gradient(to left, transparent 50%, #09aff4 50%) right;
  background-size: 200% 100%;
  height: 50vh;
  }
  
  .services .row .col:hover { 
   background-position: left;
   transition: all 2s ease;
   color: #fff !important;
  }
  
  .services .row .col .logo-left { 
    position: relative;
  }
  .services .row .col .logo-left img { 
    width:50px;
    object-fit: cover;
    filter: invert(1);
  }
  .services .row .col .info { 
    position: relative;
  }
  .services .row .col .info h2 { 
    font-size: 25px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
    padding: 10px 0;
  }
  .services .row .col .info h4 { 
    font-size: 15px;
    font-family: "Thin";
    font-weight: 300;
    color: #fff;
    filter: brightness(50%);
  }
  .services .row .col .read { 
    position: relative;
  }
  .services .row .col .read a button { 
    border: none;
    padding: 10px;
    color: #09aff4;
    font-size: 18px;
    font-family: "Bold";
    font-weight: 500;
    background-color: transparent;
    z-index: 111111;
    position: relative;
    top: 35px;
    cursor: pointer;
  }
  .services .row .col .read a button:hover { 
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  .services .row .col .read i:hover { 
            transform: translate(50% , 0);
            transition: 0.3s ease-out;
  }
  .services .about { 
    padding: 100px 50px;
  }
  .services .about .title-1 { 
    position: relative;
  }
  .services .about .title-1 h3 { 
    font-size: 17px;
    font-family: "Bold";
    font-weight: 300;
    color: #09aff4;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .services .about .title-1 h3::before { 
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: -20px;
    top: 17px;
    border-radius: 100%;
  }
  .services .about .title-1 h3::after { 
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: 93px;
    top: 17px;
    border-radius: 100%;
  }
  .services .about .info-about { 
    position: relative;
    padding: 15px 0;
  }
  .services .about .info-about h1 { 
    font-size: 35px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
  }
  .services .about .info-about h4 { 
    font-size: 15px;
    font-family: "Thin";
    font-weight: 300;
    filter: brightness(50%);
    color: #fff;
  }
  .services .row-about { 
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    column-gap: 25px;
    align-items: center;
  }
  .services .row-about .col-about { 
    flex-basis: 50%;
    position: relative;
  }
  .services .row-about #left { 
    position: relative;
    left: 100px;
    flex-basis: 50%;
  }
  .services .row-about #right { 
    flex-basis: 70%;
  }
  .services .row-about .col-about img { 
    width: 100%;
  }
  .services .row-about .col-about .flex { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 15px;
    padding: 20px 0;
  align-items: center;
  }
  .services .row-about .col-about .flex .flex-col { 
    position: relative;
  }
  .services .row-about .col-about .flex .flex-col .photo { 
    position: relative;
  }
  .services .row-about .col-about .flex .flex-col .photo img:hover { 
    background-color: #09aff4;
    filter: brightness(100%);
    transition: 0.5s ease;
    transform: translateY(-20px);
  }
  .services .row-about .col-about .flex .flex-col .photo img { 
    width: 80px;
   object-fit: cover;
   padding: 15px;
   background-color: #144c64;
   border: 1px solid #144c64;
   border-radius: 10px;
  
  }
  .services .row-about .col-about .flex .flex-col h2 { 
    font-size: 20px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
  }
  .services .row-about .col-about .flex .flex-col h4 { 
    font-size: 14px;
    font-family: "Thin";
    font-weight: 300;
    color: #fff;
    filter: brightness(50%);
  }
  .services .row-about-2 { 
    display: flex;
    justify-content: start;
    padding: 20px 30px;
    align-items: center;
    column-gap: 25px;
  }
  .services .row-about-2 .col-more { 
    flex-basis: 30%;
    position: relative;
  }
  .services .row-about-2 .col-more img { 
    width: 200px;
  }
  .services .row-about-2 .col-more a button { 
    width: 220px;
    padding: 15px 19px;
    background: #09aff4;
    border-top-left-radius: 6px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 6px;
    border: 2px solid #09aff4;
    cursor: pointer;
    font-size: 16px;
    font-family: "Bold";
    color: #fff;
    font-weight: 300;
    outline: none;
  }
  .services .row-about-2 .col-more a button:hover { 
    background-color: transparent;
    color: #09aff4;
    transition: 0.3s ease-in all;
  }
  .services .row-about-2 .col-more h4 { 
    font-size: 15px;
    color: #0d6efd;
    font-family: "Bold";
    font-weight: 300;
    position: absolute;
    top: 100px;
    left: 40px;
  }
  .signature { 
    color: #09aff4;
  }
  .about-2 { 
    padding: 100px 50px;
    display: none;
  }
  .about-2 .about-title-3 { 
    position: relative;
  }
  .about-2 .about-title-3 h3 { 
    font-size: 17px;
    font-family: "Bold";
    font-weight: 300;
    color: #09aff4;
    padding: 10px 0;
    text-transform: uppercase;
   
  }
  .about-2 .about-title-3 h3::before { 
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: -20px;
    top: 17px;
    border-radius: 100%;
  }
  .about-2 .about-title-3 h3::after { 
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: 160px;
    top: 17px;
    border-radius: 100%;
  }
  .about-2 .more-info { 
    
    position: relative;
  }
  .about-2 .more-info h2 { 
    font-size: 30px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
  }
  .about-2 .more-info h4 { 
    font-size: 15px;
    font-family: "Thin";
    font-weight: 300;
    color: #fff;
    filter: brightness(50%);
  }
  .about-2 .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 20px 0;
    align-items: center;
  }
  .about-2 .row .col-imp { 
    position: relative;
  }
  .about-2 .row .col-imp img { 
    width: 100%;
    object-fit: cover;
  }
  .about-2 .row .col-imp .flexed { 
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 15px 0;
    position: relative;
  }
  .about-2 .row .col-imp .flexed .left { 
    position: relative;
  }
  .about-2 .row .col-imp .flexed .left span { 
    font-size: 40px;
    color: #09aff4;
  }
  .about-2 .row .col-imp .flexed .right  { 
    position: relative;
  }
  .about-2 .row .col-imp .flexed .right h2 { 
    font-size: 25px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
    filter: brightness(80%);
  }
  .about-2 .row .col-imp .flexed .right h4 { 
    font-size: 15px;
    font-family: "Thin";
    font-weight: 300;
    color:#fff;
    filter: brightness(40%);
  }
  .about-2 .row-btn { 
    float: right;
  }
  .about-2 .row-btn a button { 
    width: 200px;
      padding: 15px 19px;
      border: 2px solid #09aff4;
      background: #09aff4;
      border-top-left-radius: 6px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 6px;
      font-size: 15px;
      color: #fff;
      font-family: "Bold";
      font-weight: 300;
      cursor: pointer;
      outline: none;
      position: relative;
      right: 150px;
  }
  .about-2 .row-btn a button:hover { 
    background-color: transparent;
    color: #09aff4;
    transition: all 0.3s linear;
  }
  .team { 
    background-color: #0d1020;
    position: relative;
    padding: 25px 150px;
  }
  .team .title { 
    position: relative;
  }
  .team .title h3 { 
    font-size: 17px;
    font-family: "Bold";
    font-weight: 300;
    color: #09aff4;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .team .title h3::before { 
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: -20px;
    top: 17px;
    border-radius: 100%;
  }
  .team .title h3::after { 
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: 57px;
    top: 17px;
    border-radius: 100%;
  }
  .team .info { 
    position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  }
  .team .info h2 { 
    font-size: 35px;
  font-family: "Bold";  
  font-weight: 300;
  color: #fff;
  }

  .team .info button { 
    float: right;
    width: 200px;
    padding: 15px 19px;
    font-size: 16px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
    background-color: #09aff4;
    border: 2px solid #09aff4;
    border-top-left-radius: 6px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    outline: none;
  }
  .team .info button:hover { 
    background-color: transparent;
  color: #09aff4;
  transition: 0.3s ease-in ;
  }
  .team .row { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    padding: 25px 0;
    align-items: center;
  }
  .team .row .col { 
    position: relative;
  }
  .team .row .col .img { 
    position: relative;
  }
  .team .row .col .img img { 
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px;
  }
  .team .row .col .img img:hover { 
    filter: brightness(50%);
    transition: 0.3s ease;
  }
  .team .row .col .icons { 
    display: flex;
    justify-content: center;
    column-gap: 20px;
    position: absolute;
    bottom: 0;
    top: 90%;
    left: 25%;
    cursor: pointer;
  }
  .team .row .col .icons i { 
    font-size: 23px;
    color: #fff;
    margin: -10px 0;
  }
  .team .row .col .icons i:hover { 
    color:#09aff4;
    transform: translateY(-10px);
    transition: 0.4s ease-out;
  }
  .team .row .col h2 { 
    font-size: 22px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
  }
  .team .row .col h3 { 
    font-size: 16px;
    color: #fff;
    font-family: "Bold";
    font-weight: 300;
    filter: brightness(50%);
  }
.quotes { 
    background:url(../Images/background\ image\ 3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .quotes::before { 
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: #0d1020;
   }
   .quotes .container { 
    position: relative;
   }
   .quotes .center { 
    text-align: center;
    padding: 35px 0;
    position: relative;
   }
   .quotes .mid { 
    position: relative;
    padding: 15px 0;
    text-align: center;
   }
   .quotes .content { 
    position: relative;
    padding: 15px 150px;
    text-align: center;
   }
   .quotes .name { 
    position: relative;
    padding: 15px 0;
    text-align: center;
   }
   .quotes .center h3 { 
    font-size: 17px;
    font-family: "Bold";
    font-weight: 300;
    color: #09aff4;
    padding: 10px 0;
    text-transform: uppercase;
   }
   .quotes .center h3::before { 
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    right: 46%;
    top: 51px;
    border-radius: 100%;
   }
   .quotes .center h3::after { 
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: 46%;
    top: 51px;
    border-radius: 100%;
   }
   .quotes .center h1 { 
    font-size: 35px;
    color: #fff;
    font-family: "Bold";
    font-weight: 300;
  
   }
   .quotes .mid img { 
    width: 75px;
    border: 3px solid #09aff4;
    border-radius: 100%;
   }
   .quotes .content h2 { 
    font-family: "Thin";
    font-weight: 600;
    color: #fff;
    filter: brightness(70%);
   }
   .quotes .name h3 { 
    font-size: 20px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
    filter: brightness(90%);
   }
   .quotes .name h4 { 
    font-size: 16px;
    font-family: "Bold";
    font-weight: 200;
    color: #fff;
    filter: brightness(50%);
   }
   .news { 
    padding: 50px 100px;
    background-color: #0d1020;
   }
   .news .title { 
    text-align: start;
    position: relative;
   }
   .news .title h3 { 
    font-size: 17px;
    font-family: "Bold";
    font-weight: 300;
    color: #09aff4;
    padding: 10px 0;
    text-transform: uppercase;
   }
   .news .title h3::before { 
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: -20px;
    top: 17px;
    border-radius: 100%;
   }
   .news .title h3::after { 
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    left: 60px;
    top: 17px;
    border-radius: 100%;
   }
   .news .info { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
   }
   .news .info h2 { 
    font-size: 35px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
   }
   .news .info button { 
    float: right;
    width: 200px;
    padding: 15px 19px;
    font-size: 16px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
    background-color: #09aff4;
    border: 2px solid #09aff4;
    border-top-left-radius: 6px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    outline: none;
   }
   .news .info button:hover { 
    background-color: transparent;
    color: #09aff4;
    transition: 0.3s ease-in;
   }
   .news .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    padding: 25px 0;
   }
   .news .row .col { 
    flex-basis: 33%;
    position: relative;
    padding: 0 0px 20px 0px;
    text-align: start;
    border-radius: 10px;
    background-color: #144c64;
    height: 85vh;
   }
   .news .row .col .icon { 
    position: relative;
   }
   .news .row .col .icon .date { 
    position: absolute;
      z-index: 111111;
      left: 15px;
      top: 14px;
      border: 1px solid rgba(6, 9, 34);;
      padding: 10px;
      border-radius: 25px;
      background: rgba(6, 9, 34);
      color: #fff;
      font-size: 16px;
      font-family: "Thin";
      font-weight: 1000;
      
     
   }
   .news .row .col .icon img { 
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: invert(1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
   .news .row .col .icon img:hover { 
    transform: scale(1.03);
    transition: 0.3s ease-in;
   }
   .news .row .col .myProfile { 
    display: flex;
    justify-content: start;
    column-gap: 30px;
    align-self: center;
    padding: 20px;
    cursor: pointer;
   }
   .news .row .col .myProfile .right { 
    position: relative;
    bottom: 10px;
    left: 20px;
   }
   .news .row .col .myProfile .left { 
    position: relative;
   }
   .news .row .col .myProfile .right img { 
    width: 40px;
    object-fit: cover;
    filter: invert(1);
   }
   .news .row .col .myProfile .right h5 { 
    font-size: 13px;
    font-family: "Bold";
    font-weight: 100;
    color: #fff;
    filter: brightness(80%);
    position: relative;
      bottom: 30px;
      left: 45px;
   }
   .news .row .col .myProfile .left img { 
    width: 30px;
    object-fit: cover;
    filter: invert(1);
   }
   .news .row .col .myProfile .left h5 { 
    font-size: 13px;
    font-family: "Bold";
    font-weight: 100;
    color: #fff;
    filter: brightness(80%);
    position: relative;
      bottom: 30px;
      left: 40px;
   }
  .news .row .col .more-info { 
    padding:0 20px;
  }
  .news .row .col .more-info h2 {
    font-size: 23px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    padding: 15px 0;
  }
  .news .row .col .more-info h2:hover { 
    color: #09aff4;
    transition: 0.3s ease-in;
  }
  .news .row .col .more-info h4 {
     font-size: 14px;
     padding: 15px 0;
     font-family: "Thin";
     font-weight: 700;
     color: #fff;
     filter: brightness(50%);
  }
  .news .row .col .btn { 
    position: relative;
    padding: 20px;
  }
  .news .row .col .btn a button { 
    border: none;
    background-color: transparent;
    color: #0d6efd;
    font-size: 16px;
    font-family: "Bold";
    font-weight: 300;
    cursor: pointer;
    outline: none;
  }
  .news .row .col .btn i:hover { 
    transform: translate(50% , 0);
    transition: 0.3s ease-out;
  }
  .contact-us { 
    background: url(../Images/book.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.contact-us::before { 
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0d1020;
    opacity: 0.5;
}
.contact-us .center { 
    text-align: center;
    padding: 50px 100px;
    position: relative;
}
.contact-us .center .dot { 
    font-size: 17px;
    font-family: "Bold";
    font-weight: 300;
    color: #09aff4;
    padding: 10px 0;
    text-transform: uppercase;
}
.contact-us .center .dot::before { 
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    color: #0d6efd;
    right: 44%;
    top: 66px;
    border-radius: 100%;
}
.contact-us .center .dot::after { 
    content: " ";
position: absolute;
width: 10px;
height: 10px;
background-color: #0d6efd;
color: #0d6efd;
left: 44%;
top: 66px;
border-radius: 100%;
}
.contact-us .center h1 { 
    font-size: 33px;
    font-family: "Bold";
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
}
.contact-us .center .info { 
    position: relative;
    padding: 10px 0;
}
.contact-us .center .info h3 { 
    font-size: 15px;
    font-family: "Bold";
    color: #fff;
    font-weight: 100;
    filter: brightness(75%);
}
.contact-us .center .btn { 
    text-align: center;
    padding: 20px 0;
}
.contact-us .center .btn a button { 
    width: 200px;
    padding: 15px 19px;
    border-top-left-radius: 6px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 6px;
    border: 2px solid #fff;
    font-size: 16px;
    font-family: "Bold";
    font-weight: 300;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    text-align: center;
    color: #fff;
}
.contact-us .center .btn a button:hover { 
    background: #09aff4;
    border: none;
    color: #fff;
    transition: 0.3s ease-in;
}

  footer { 
    background: url(../Images/footer\ background\ image.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
  }
  footer::before { 
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #060922;
    opacity: 0.9;
  }
  footer .footer-top { 
    padding: 50px 100px;
    position: relative;
  }
  footer .footer-top .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    align-items: center;
    padding: 25px 10px;
  }
  footer .footer-top .row .col { 
    flex-basis: 25%;
    position: relative;
  }
  footer .footer-top .row .col .img { 
    position: relative;
  }
  footer .footer-top .row .col .img img { 
    width: 100px;
    object-fit: cover;
  }
  footer .footer-top .row .col .content { 
    position: relative;
    text-align: start;
  }
  footer .footer-top .row .col .content h3 { 
    font-size: 18px;
    font-family: "Bold";
    color: #fff;
    filter: brightness(70%);
    font-weight: 300;
    padding: 15px 0;
  }
  footer .footer-top .row .col .btn { 
    position: relative;
    padding: 10px 0;
  }
  footer .footer-top .row .col .btn h3 { 
    font-size: 16px;
    font-family: "Bold";
    color: #fff;
    filter: brightness(75%);
  }
  footer .footer-top .row .col .btn button { 
    width: 100px;
    padding: 11px 13px;
    font-size: 16px;
    font-family: "Bold";
    color: #fff;
    font-weight: 1000;
    cursor: pointer;
    outline: none;
    background-color: #09aff4;
    border: 2px solid #09aff4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
      right: 0;
      top: 35px;
  }
  footer .footer-top .row .col .btn input { 
    width: 100%;
    padding: 15px 19px;
    font-family: "Bold";
    color: #333;
    outline: none;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
  }
  footer .footer-top .row .col .btn span { 
    font-size: 14px;
    font-family: "Thin";
    font-weight: 600;
    color: #fff;
    filter: brightness(60%);
  }
  footer .footer-top .row .col h2 { 
    font-size: 22px;
    font-family: "Bold";
    color: #fff;
    font-weight: 300;
    text-align:center;
  }
  footer .footer-top .row .col ul { 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 15px 0;
  }
  footer .footer-top .row .col ul li { 
    font-size: 13px;
    font-family: "Bold";
    font-weight: 300;
    color: #fff;
    cursor: pointer;
  
  }
  footer .footer-top .row .col ul li:hover { 
    transform: translate(20% , 0);
    transition: 0.3s ease-in;
  }
  footer .footer-top .row .col ul li i { 
    font-size: 10px;
    color: #09aff4;
  
  }
  footer .footer-top .row .col h2 { 
    font-size: 22px;
    font-family: "Bold";
    color: #fff;
    font-weight: 300;
  }
  footer .footer-top .row .col .row-info { 
    display: flex;
    column-gap: 20px;
    align-items: center;
    position: relative;
    padding: 10px 0;
  }
  footer .footer-top .row .col .row-info .right { 
    position: relative;
  }
  footer .footer-top .row .col .row-info .left { 
    position: relative;
  }
  footer .footer-top .row .col .row-info .left i { 
    font-size: 23px;
    color: #0d6efd;
  }
  footer .footer-top .row .col .row-info .right h4 { 
    font-size: 15px;
    font-family: "Thin";
    font-weight: 800;
    color: #fff;
  }
  footer .footer-top .row .col .icons { 
    display: flex;
    justify-content: starts;
    column-gap: 20px;
    align-items: center;
    padding: 20px 0;
  }
  footer .footer-top .row .col .icons i { 
    font-size: 15px;
    padding: 10px;
    border: 1px solid #09aff4;
    background: #09aff4;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 40px;
      height: 40px;
      text-align: center;
  }
  footer .footer-top .row .col .icons i:hover { 
    transform: translateY(-10px);
    transition: 0.3s ease-in;
    background-color: #fff;
    color: #09aff4;
  }
  footer .footer-bottom { 
    padding: 0 100px;
    position: relative;
  }
  footer .footer-bottom .row-bottom {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  footer .footer-bottom .row-bottom .col h4 { 
    font-size: 15px;
    font-family: "Bold";
    color: #fff;
  }
  footer .footer-bottom .row-bottom .col h3 { 
    font-size: 17px;
    font-family: "Bold";
    color: #fff;
  }
  footer .footer-bottom .row-bottom .col { 
    display: flex;
    column-gap: 20px;
    position: relative;
  }
  #last { 
    text-align: start;
  }
  footer .footer-bottom .row-bottom .col h3::after { 
    content: " ";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #09aff4;
    color: #09aff4;
    left: 48%;
    bottom: 0;
  }
      /* Keyframes starts from there   */
      @keyframes loading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @-webkit-keyframes important {
        0%   {opacity: 1;}
        90%  {opacity: 1;}
        100% {opacity:0;}
    }
      @keyframes transitionIn {
        from {
            opacity: 0;
            transform: translateY(-80deg);
        }
        to {
            opacity: 1;
            transform: rotateX(2);
        }
    }
  @keyframes opacity {
    0% { 
      opacity: 0.4;
    }
    90% { 
      opacity: 0.4;
    }
    100% { 
      opacity: 1;
    }
  }
  @keyframes up {
    
  }
  @keyframes shadow {
     5% { 
      box-shadow: 0 2px 10px #0d6efd;
     }
     15% { 
      box-shadow: 0 2px 15px #0d6efd;
     }
     25% { 
      box-shadow: 0 2px 20px #0d6efd;
     }
     35% { 
      box-shadow: 0 2px 25px #0d6efd;
     }
     45% { 
      box-shadow: 0 2px 30px #0d6efd;
     }
     55% { 
      box-shadow: 0 5px 10px #0d6efd;  
     }
     65% { 
      box-shadow: 0 5px 15px #0d6efd;
     }
     75% { 
      box-shadow: 0 5px 20px #0d6efd;
     }
     85% { 
      box-shadow: 0 5px 25px #0d6efd;
     }
     100% { 
      box-shadow: 0 5px 30px #0d6efd;
     }
     20% { 
      border: 2px solid #0d6efd;
      opacity: 0.8;
     }
     40% { 
      border: 3px solid #0d6efd;
      opacity: 0.6;
     }
     60% { 
      border: 3px solid #0d6efd;
      opacity: 0.4;
     
     }
     80% { 
      border: 4px solid #0d6efd;
      opacity: 0.2;
     }
     100% { 
      border: 5px solid #0d6efd;
      opacity: 0.1;
     
     }
  }
  @media only screen and (max-width:350px) { 
     html , body { 
        overflow-x: hidden;
     }
     * { 
        padding: 0;
        margin: 0;
     }
     ::-webkit-scrollbar { 
        display: none;
     }
     .blog { 
        height: 35vh;
       }
       .nav-burger { 
        display: initial;
      }
      .blog header .row-header .col-header .header-nav { 
        display: none;
      }
      .blog header .row-header .col-header .icon { 
        display: flex;
      }
      .blog .row { 
        position: relative;
        left: 0;
        top: 25px;
      }
      .services { 
        padding: 20px 30px;
      }
      .services .about { 
        padding: 20px 0;
      }
      .services .row-about { 
        flex-direction: column;
        row-gap: 20px;
      }
      .services .row-about .col-about .flex { 
        flex-direction: column;
        row-gap: 20px;
        text-align: start;
        align-items: unset;
      }
      .services .row-about #left { 
        left: 0;
      }
      .services .row-about-2 { 
        padding: 20px 0;
        flex-direction: column;
        row-gap: 20px;
      }
      
  .quotes .content { 
    padding: 15px 30px;
  }
  .quotes .center h3::after { 
    left: 64%;
  }
  .quotes .center h3::before { 
    right: 64%;
  }
  .team { 
    padding: 20px 30px;
  }
  .team .info { 
    flex-direction: column;
    row-gap: 20px;
  }
  .team .info button { 
    position: relative;
    right: 40px;
  }
  .news { 
    padding: 20px 30px;
  }
  .news .info { 
    flex-direction: column;
    row-gap: 20px;
  }
  .news .row { 
    flex-direction: column;
    row-gap: 20px;
  }
  .contact-us .center { 
    padding: 20px 30px;
  }
  .contact-us .center .dot::after { 
    left: 25%;
    top: 37px;
  }
  .contact-us .center .dot::before {
   left: 25%;
   top: 37px;
  }
  footer .footer-top { 
    padding: 20px 30px;
  }
  footer .footer-top .row { 
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }
  footer .footer-bottom { 
    padding:  10px 20px;
    text-align: center;
  }
  footer .footer-bottom .row-bottom { 
   justify-content: center;
  }
  footer .footer-bottom .row-bottom .col h3 { 
    display: none;
  }
}
  @media only screen and (min-width:351px) and (max-width:600px) {  
    .nav-burger { 
        display: initial;
      }
      .blog .row { 
        position: relative;
        left: 0;
      }
      .blog header .row-header .col-header .header-nav { 
        display: none;
      }
      .blog header .row-header .col-header .icon { 
        display: flex;
      }
      
  .services { 
    padding: 20px 50px;
  }
  .services .about { 
    padding: 20px 0;
  }
  .services .row-about { 
    flex-direction: column;
    row-gap: 20px;
  }
  .services .row-about .col-about .flex { 
    flex-direction: column;
    row-gap: 20px;
    text-align: start;
    align-items: unset;
  }
  .services .row-about #left { 
    left: 0;
  }
  .services .row-about-2 { 
    padding: 20px 0;
    flex-direction: column;
    row-gap: 20px;
  }
  .quotes .content { 
    padding: 15px 0;
  }
  .quotes .center h3::before { 
    left: 240px;
    display: none;
  }
  .quotes .center h3::after { 
    left: 36%;
  }
  .team { 
    padding: 20px 50px;
  }
  .team .info { 
    flex-direction: column;
    row-gap: 20px;
  }
  .team .info button { 
    position: relative;
    right: 40px;
  }
  .news { 
    padding: 20px 30px;
  }
  .news .info { 
    flex-direction: column;
    row-gap: 20px;
  }
  .news .row { 
    flex-direction: column;
    row-gap: 20px;
  }
  .contact-us .center { 
    padding: 20px 50px;
  }
  .contact-us .center .dot::after { 
    left: 30%;
    top: 39px;
  }
  .contact-us .center .dot::before { 
    right: 30%;
    top: 39px;
  }
   footer .footer-top { 
    padding: 20px 30px;
   }
   footer .footer-top .row { 
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
   }
   footer .footer-bottom { 
    padding: 10px 20px;
    text-align: center;
   }
   footer .footer-bottom .row-bottom { 
    justify-content: center;
   }
   footer .footer-bottom .row-bottom .col h3 { 
    display: none;
   }
  }
  @media only screen and (min-width:601px) and (max-width:920px) { 
     html , body { 
        overflow-x: hidden;
     }
     * { 
        padding: 0;
        margin: 0;
     }
     ::-webkit-scrollbar { 
        display: none;
     }
     .nav-burger { 
        display: initial;
     }
     .blog .row { 
        position: relative;
        left: 0;
     }
     .blog header .row-header .col-header .header-nav { 
        display: none;
     }
     .blog header .row-header .col-header .icon { 
        display: flex;
     }
     .services { 
        padding: 20px 30px;
     }
     .services .about { 
        padding: 20px 30px;
     }
     .services .row-about { 
        flex-direction: column;
        row-gap: 20px;
     }
     .services .row-about-2 { 
        padding: 20px 0;
        flex-direction: column;
        row-gap: 20px;
      }
     .services .row-about #left { 
        left: unset;
     }
     .quotes .center { 
        padding: 15px 0;
     }
     .quotes .center h3::after { 
        left: 41%;
        top: 25%;
     }
     .quotes .center h3::before { 
        display: none;
     }
     .news { 
        padding: 20px 50px;
     }
     .news .row { 
        flex-direction: column;
        row-gap: 20px;
     }
     .news .row .col { 
        width: 100%;
     }
     .contact-us .center .dot::after {
        left: 38%;
       }
       .contact-us .center .dot::before { 
         right: 38%;
       }
     
     footer .footer-top { 
        padding: 30px;
     }
     footer .footer-top .row { 
        padding: 30px;
     }
     footer .footer-bottom { 
        padding: 0 20px;
     }
     footer .footer-top .row .col .btn input { 
        width: 250px;
     }
  }
  @media only screen and (min-width:921px) and (max-width:1240px) { 
    html , body { 
        overflow-x: hidden;
    }
    * { 
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar { 
        display: none;
    }
    .services .row-about .col-about .flex { 
        margin: 0 -100px;
      }
      .services .row-about #left { 
        display: none;
      }
      .services .row-about { 
        justify-content: center;
      }
      .news .row .col { 
        height: fit-content;
      }
      .contact-us .center .dot::after { 
        left: 42%;
      }
      .contact-us .center .dot::before { 
        right: 42%;
      }
      footer .footer-top { 
        padding: 50px;
      }
      footer .footer-top .row .col .btn button { 
        top: 58px;
        width: 90px;
      }
  } 
  @media only screen and (min-width:1241px) { 
    html ,body { 
        overflow-x: hidden;
    }
    * { 
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar { 
        display: none;
    }
  }