 html ,  body { 
    overflow-x: hidden;
    background-color: transparent;
    font-family: "Bold" , sans-serif;
    background-color: #000;
}
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Bold";
    src: url(../Fonts/Jost-Bold.ttf);
}
@font-face {
    font-family: "Light";
    src: url(../Fonts/Jost-Light.ttf);
}
@font-face {
    font-family: "Thin";
    src: url(../Fonts/Jost-Thin.ttf);
}
@font-face {
    font-family: "Medium";
    src: url(../Fonts/Jost-Medium.ttf);
}
ul ,ol { 
    list-style-type: none;
}
a { 
    text-decoration: none;
}
/* Css for loading page  */

.important { 
  -webkit-animation: important 2s forwards; 
  animation: important 2s forwards;
  background-color: black;
  z-index: -1;
}
.loading{
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background-color: black;
  z-index: -111;
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
  z-index: -1111;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
  /* Loading css ends here  */
.blog { 
position: relative;
background: url(../Images/background\ image.jpg);
width: 100%;
object-fit: cover;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-position: center;
height: 100vh;
animation: opacity 1s  linear ;

}
.blog::before { 
position: absolute;
content: "";
left: 0;
top: 0;
bottom: 0;
right: 0;
background: rgba(0, 0, 0, 0.6);
}

.blog .container { 
  position: relative;
}
.blog header { 
  position: relative;
}
.blog header .row-header { 
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  padding: 15px 0;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 111111111;
  background-color: #09aff4;
}
.blog header .row-header .col-header { 
  position: relative;
}
.blog header .row-header .col-header .header-nav { 
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
  padding: 20px 0;
}
.blog header .row-header .col-header .header-nav li a { 
  font-size: 18px;
  font-family: "Bold";
  color: #fff;
  font-weight: 300;
  margin: 0 auto;
}
.blog header .row-header .col-header .header-nav li a:hover { 
  color: #0d6efd;
  transition: 0.3s ease-in;
}
.blog header .row-header .col-header .icon { 
  position: relative;
}
.blog header .row-header .col-header .icon i { 
  font-size: 20px;
  color: #fff;
  cursor: pointer;

}
.blog .row { 
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  padding: 30px 0;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50% , -50%);
  top: 325px;
}
.blog .row .col { 
  position: relative;
  flex-basis: 50%;
}
.blog .row .col:first-child { 
  right: 150px;
  top: 35px;
}
.blog .row .col:last-child { 
  left: 100px;
}

.blog .row .col img { 
  max-width: 200%;
  position: relative;
  right: 100px;
}
.blog .row .col img:hover { 
  will-change: transform ;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.blog .row .col .illustration { 
position: relative;
  
}
.blog .row .col .social-medias { 
  display: flex;
  justify-content: start;
  column-gap: 25px;
  align-items: center;
  padding: 10px 0 20px 0;
}
.blog .row .col .social-medias i { 
  font-size: 20px;
  color: #fff;
}
.blog .row .col .social-medias i:hover { 
  color: #0d6efd;
  transform: translateY(-7px);
  transition: 0.3s ease-in;
}
.blog .row .col .title { 
  position: relative;
}
.blog .row .col .title .ticket { 
  color: #0d6efd;
  font-size: 17px;
  font-family: "Bold";
  font-weight: 700;
  text-transform: uppercase;
 
}
.blog .row .col .title .ticket::before { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  border: transparent;
  color: #0d6efd;
  background-color: #0d6efd;
  border-radius: 100%;
  left: -20px;
  top: 8px;
}
.blog .row .col .info-about-us { 
  position: relative;
  width: 350px;
}
.blog .row .col .info-about-us h1 { 
  font-size: 50px;
  color: #fff;
  font-family: "Bold";
  font-weight: 1000;
}
.blog .row .col .info-about-us .signature { 
  font-size: 35px;
  font-family: "Bold";
  color: #0d6efd;
  font-weight: 1000;
  position: relative;
}
.blog .row .col .info-about-us .signature::before { 
  content: " ";
  position: absolute;
 width: calc(100% + 10px);
 height: calc(1px + 2px);
 top: 160%;
 transform: translate(-50% , -50%);
 transform: translateY(-30px);
 background-color: #0d6efd;
 color: #0d6efd;
border-top-right-radius: 100%;
border-bottom-right-radius: 100%;
border-top-left-radius: 100%;
border-bottom-left-radius: 100%;
}
.blog .row .col .info-about-us h5 { 
  padding: 35px 0 0 0 0;
  font-size: 16px;
  font-family: "Light";
  color: #fff;
  opacity: 0.6;
  position: relative;
  top: 10px;
  font-weight: 300;
}
.blog .row .col .btn { 
  display: flex;
  justify-content: start;
  column-gap: 35px;
  position: relative;
  top: 25px;
  padding: 5px 0;
  align-items: center;
}
.blog .row .col .click { 
  position: relative;
}
.blog .row .col .watch { 
  position: relative;
}
.blog .row .col .click a button { 
  width: 170px;
  padding: 12px 15px;
  font-size: 17px;
  font-family: "Bold";
  font-weight: 300;
  color: #0d6efd;
  text-align: center;
  border: 2px solid #0d6efd;
  border-top-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.blog .row .col .click a button:hover { 
  background-color: #0d6efd;
  color: #fff;
  transition: all 0.3s linear;
}
.blog .row .col .watch i { 
  position: relative;
  z-index: 12312312312312312312312;
  padding: 5px;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 17px;
  color: #fff;
  border: 2px solid #0d6efd;
  border-radius: 100%;
  background-color: #0d6efd;
  cursor: pointer;
  outline: none;
  animation: shadow .9s linear infinite;
}
.blog .row .col .watch i:hover { 
  background-color: #0d6efd;
  color: #fff;
  border: none;
  transition: .3s all cubic-bezier(0.895, 0.03, 0.685, 0.22);
  filter: brightness(1.1);
}
.fa-play:before { 
  left: 1px;
  position: relative;
}
.services { 
  background-color: #0d1020;
  position: relative;
  padding: 50px 100px;
}
.services .title { 
  position: relative;
  display: block;
  text-align: start;
}
.services .title h3 { 
  font-size: 17px;
  font-family: "Bold";
  font-weight: 300;
  color: #09aff4;
  padding: 10px 0;
  text-transform: uppercase;
}
.services .title h3::before { 
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: -20px;
  top: 17px;
  border-radius: 100%;
}
.services .title h3::after { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: 93px;
  top: 17px;
  border-radius: 100%;
}
.services .svc { 
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
   align-items: center;
   column-gap: 25px;
}
.services .svc .col-1 , .col-2 { 
  flex-basis: 50%;
  position: relative;
}
.services .svc .col-2{ 
  text-align: end;
}
.services .svc .col-1 h2 { 
  font-size: 35px;
  font-family: "Light";
  color: #fff;
  font-weight: 1000;
}
.services .svc .col-1 h4 { 
  font-size: 20px;
  font-family: "Thin";
  font-weight: 1000;
  color: #fff;
  filter: brightness(50%);

}
.services .svc .col-2 a button { 
  width: 250px;
    position: relative;
    padding: 15px 19px;
    background: #09aff4;
    color: white;
    font-size: 18px;
    border: transparent;
    font-family: "Bold";
    font-weight: 300;
    outline: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    border: 2px solid #09aff4;
}
.services .svc .col-2 a button:hover { 
  background-color: transparent;
  border: 2px solid #09aff4;
  transition: 0.4s all linear;
  color: #09aff4;
}
.services .svc i { 
  font-size: 18px;
  position: relative;
  left: 5px;
  top: 2px;
}
.services .row { 
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  align-items: center;
  padding: 25px 0;
  outline: none;
  position: relative;
}
.services .row .col { 
  padding: 30px;
  border: 1px solid #144c64;
  border-radius: 15px;
  position: relative;
  animation: color 10.0s linear infinite;
  background-color: transparent;
  transition: .5s ease-out;
  background: linear-gradient(to left, transparent 50%, #09aff4 50%) right;
background-size: 200% 100%;
height: 50vh;
}

.services .row .col:hover { 
 background-position: left;
 transition: all 2s ease;
 color: #fff !important;
}

.services .row .col .logo-left { 
  position: relative;
}
.services .row .col .logo-left img { 
  width:50px;
  object-fit: cover;
  filter: invert(1);
}
.services .row .col .info { 
  position: relative;
}
.services .row .col .info h2 { 
  font-size: 25px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  padding: 10px 0;
}
.services .row .col .info h4 { 
  font-size: 15px;
  font-family: "Thin";
  font-weight: 300;
  color: #fff;
  filter: brightness(50%);
}
.services .row .col .read { 
  position: relative;
}
.services .row .col .read a button { 
  border: none;
  padding: 10px;
  color: #09aff4;
  font-size: 18px;
  font-family: "Bold";
  font-weight: 500;
  background-color: transparent;
  z-index: 111111;
  position: relative;
  top: 35px;
  cursor: pointer;
}
.services .row .col .read a button:hover { 
  color: #fff;
  transition: 0.3s ease-in-out;
}
.services .row .col .read i:hover { 
          transform: translate(50% , 0);
          transition: 0.3s ease-out;
}
.services .about { 
  padding: 100px 50px;
}
.services .about .title-1 { 
  position: relative;
}
.services .about .title-1 h3 { 
  font-size: 17px;
  font-family: "Bold";
  font-weight: 300;
  color: #09aff4;
  padding: 10px 0;
  text-transform: uppercase;
}
.services .about .title-1 h3::before { 
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: -20px;
  top: 17px;
  border-radius: 100%;
}
.services .about .title-1 h3::after { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: 93px;
  top: 17px;
  border-radius: 100%;
}
.services .about .info-about { 
  position: relative;
  padding: 15px 0;
}
.services .about .info-about h1 { 
  font-size: 35px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
}
.services .about .info-about h4 { 
  font-size: 15px;
  font-family: "Thin";
  font-weight: 300;
  filter: brightness(50%);
  color: #fff;
}
.services .row-about { 
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  column-gap: 25px;
  align-items: center;
}
.services .row-about .col-about { 
  flex-basis: 50%;
  position: relative;
}
.services .row-about #left { 
  position: relative;
  left: 100px;
  flex-basis: 50%;
}
.services .row-about #right { 
  flex-basis: 70%;
}
.services .row-about .col-about img { 
  width: 100%;
}
.services .row-about .col-about .flex { 
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 15px;
  padding: 20px 0;
align-items: center;
}
.services .row-about .col-about .flex .flex-col { 
  position: relative;
}
.services .row-about .col-about .flex .flex-col .photo { 
  position: relative;
}
.services .row-about .col-about .flex .flex-col .photo img:hover { 
  background-color: #09aff4;
  filter: brightness(100%);
  transition: 0.5s ease;
  transform: translateY(-20px);
}
.services .row-about .col-about .flex .flex-col .photo img { 
  width: 80px;
 object-fit: cover;
 padding: 15px;
 background-color: #144c64;
 border: 1px solid #144c64;
 border-radius: 10px;

}
.services .row-about .col-about .flex .flex-col h2 { 
  font-size: 20px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
}
.services .row-about .col-about .flex .flex-col h4 { 
  font-size: 14px;
  font-family: "Thin";
  font-weight: 300;
  color: #fff;
  filter: brightness(50%);
}
.services .row-about-2 { 
  display: flex;
  justify-content: start;
  padding: 20px 30px;
  align-items: center;
  column-gap: 25px;
}
.services .row-about-2 .col-more { 
  flex-basis: 30%;
  position: relative;
}
.services .row-about-2 .col-more img { 
  width: 200px;
}
.services .row-about-2 .col-more a button { 
  width: 220px;
  padding: 15px 19px;
  background: #09aff4;
  border-top-left-radius: 6px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 6px;
  border: 2px solid #09aff4;
  cursor: pointer;
  font-size: 16px;
  font-family: "Bold";
  color: #fff;
  font-weight: 300;
  outline: none;
}
.services .row-about-2 .col-more a button:hover { 
  background-color: transparent;
  color: #09aff4;
  transition: 0.3s ease-in all;
}
.services .row-about-2 .col-more h4 { 
  font-size: 15px;
  color: #0d6efd;
  font-family: "Bold";
  font-weight: 300;
  position: absolute;
  top: 100px;
  left: 40px;
}
.signature { 
  color: #09aff4;
}
.about-2 { 
  padding: 100px 50px;
}
.about-2 .about-title-3 { 
  position: relative;
}
.about-2 .about-title-3 h3 { 
  font-size: 17px;
  font-family: "Bold";
  font-weight: 300;
  color: #09aff4;
  padding: 10px 0;
  text-transform: uppercase;
 
}
.about-2 .about-title-3 h3::before { 
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: -20px;
  top: 17px;
  border-radius: 100%;
}
.about-2 .about-title-3 h3::after { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: 160px;
  top: 17px;
  border-radius: 100%;
}
.about-2 .more-info { 
  
  position: relative;
}
.about-2 .more-info h2 { 
  font-size: 30px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
}
.about-2 .more-info h4 { 
  font-size: 15px;
  font-family: "Thin";
  font-weight: 300;
  color: #fff;
  filter: brightness(50%);
}
.about-2 .row { 
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 20px 0;
  align-items: center;
}
.about-2 .row .col-imp { 
  position: relative;
}
.about-2 .row .col-imp img { 
  width: 100%;
  object-fit: cover;
}
.about-2 .row .col-imp .flexed { 
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 15px 0;
  position: relative;
}
.about-2 .row .col-imp .flexed .left { 
  position: relative;
}
.about-2 .row .col-imp .flexed .left span { 
  font-size: 40px;
  color: #09aff4;
}
.about-2 .row .col-imp .flexed .right  { 
  position: relative;
}
.about-2 .row .col-imp .flexed .right h2 { 
  font-size: 25px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  filter: brightness(80%);
}
.about-2 .row .col-imp .flexed .right h4 { 
  font-size: 15px;
  font-family: "Thin";
  font-weight: 300;
  color:#fff;
  filter: brightness(40%);
}
.about-2 .row-btn { 
  float: right;
}
.about-2 .row-btn a button { 
  width: 200px;
    padding: 15px 19px;
    border: 2px solid #09aff4;
    background: #09aff4;
    border-top-left-radius: 6px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 6px;
    font-size: 15px;
    color: #fff;
    font-family: "Bold";
    font-weight: 300;
    cursor: pointer;
    outline: none;
    position: relative;
    right: 150px;
}
.about-2 .row-btn a button:hover { 
  background-color: transparent;
  color: #09aff4;
  transition: all 0.3s linear;
}
.information { 
  background: url(../Images/2\ background\ image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100%;
  position: relative;
  padding: 75px 50px;
}
.information::before { 
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #0d1020;
  opacity: 0.7;
}
.information .container { 
  position: relative;
}
.information .row { 
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  align-items: center;
  padding: 25px 0;
}
.information .row .col { 
  flex-basis: 25%;
  position: relative;
  text-align: center;
  border: 2px solid #144c64;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent;
  padding: 50px 10px;
  border-top: 4px solid #09aff4;
}
.information .row .col::before { 
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0d1020;
  opacity: 0.4;
}
.information .row .col .icon { 
  position: relative;
  text-align: center;
  padding: 0 0 20px 0;
}
.information .row .col .icon img { 
  width: 75px;
  object-fit: cover;
  filter: invert(1);
}
.information .row .col .icon img:hover { 
  will-change: transform;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.information .row .col .mid { 
  text-align: center;
  position: relative;
}
.information .row .col .mid h2 { 
  font-size: 33px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;

}
.information .row .col .mid h3 { 
  font-size: 27px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
}
.portfolio { 
  background: #0d1020;
  padding: 50px 100px;
  position: relative;
}
.portfolio .title { 
  position: relative;
  text-align: start;
}
.portfolio .title h3 { 
  font-size: 17px;
  font-family: "Bold";
  font-weight: 300;
  color: #09aff4;
  padding: 10px 0;
  text-transform: uppercase;
}
.portfolio .title h3::before { 
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: -20px;
  top: 17px;
  border-radius: 100%;
}
.portfolio .title h3::after { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: 104px;
  top: 17px;
  border-radius: 100%;
}
.portfolio .info { 
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
}
.portfolio .info h2 { 
  font-size: 35px;
  font-family: "Bold";
  color: #fff;
  font-weight: 300;
}
.portfolio .info button { 
  float: right;
  width: 200px;
  padding: 15px 19px;
  font-size: 16px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  background-color: #09aff4;
  border: 2px solid #09aff4;
  border-top-left-radius: 6px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  outline: none;

}
.portfolio .info button:hover { 
  background-color: transparent;
  color: #09aff4;
  transition: all 0.3s ease-in;
}
.portfolio .top-list { 
  position: relative;
  padding: 25px 0;
}
.portfolio .top-list ul { 
  display: flex;
  justify-content: start;
  flex-direction: row;
  column-gap: 35px;
  list-style-type: none;
  padding: 25px 0;
  position: relative;
}
.portfolio .top-list ul li  a{ 
  font-size: 16px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
}
.portfolio .top-list ul #important-li a{ 
  color: #09aff4;
  list-style-type: circle;
  font-size: 16px;
  font-family: "Bold";
}
.portfolio .top-list ul #important-li a::before { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #09aff4;
  color: #09aff4;
  left: -20px;
  top: 30px;
  border-radius: 100%;
}
.portfolio .top-list ul li a:hover { 
  color: #09aff4;
  transition: 0.3s ease-in;
  
}
.portfolio .row { 
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  align-items: center;
  padding: 15px 0;
}
.portfolio .row .col { 
  flex-basis: 33%;
  position: relative;
}
.portfolio .row .col img { 
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 15px;
}

.portfolio .row .col img:hover { 
  transform: scale(1.1);
  transition: 0.3s all ease-out;
}
.pricing { 
  background-color: #0d1020;
  padding: 50px 100px;
}
.pricing .title { 
  position: relative;
  text-align: start;
}
.pricing .title h3 { 
  font-size: 17px;
  font-family: "Bold";
  font-weight: 300;
  color: #09aff4;
  padding: 10px 0;
  text-transform: uppercase;
}
.pricing .title h3::before { 
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: -20px;
  top: 17px;
  border-radius: 100%;
}
.pricing .title h3::after { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: 142px;
  top: 17px;
  border-radius: 100%;
}
.pricing .info { 
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}
.pricing .info h2 { 
  font-size: 35px;
  font-family: "Bold";  
  font-weight: 300;
  color: #fff;
}
.pricing .info h4 { 
  font-size: 15px;
  font-family: "Thin";
  font-weight: 300;
  color: #fff;
  filter: brightness(50%);
}
.pricing .info button { 
  float: right;
  width: 200px;
  padding: 15px 19px;
  font-size: 16px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  background-color: #09aff4;
  border: 2px solid #09aff4;
  border-top-left-radius: 6px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  outline: none;
}
.pricing .info button:hover { 
  background-color: transparent;
  color: #09aff4;
  transition: 0.3s ease-in ;
}
.pricing .row { 
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  padding: 55px 0;
}
.pricing .row .col { 
  flex-basis: 25%;
  position: relative;
  border: 1px solid #0d6efd;
  border-radius: 10px;
  text-align: center;
  padding: 50px 10px;
}
.pricing .row .col .icon { 
  position: relative;
}
.pricing .row .col .icon img { 
  width: 75px;
  object-fit: cover;
  filter: invert(1);
}
.pricing .row .col .content { 
  position: relative;
  padding: 20px 0;
}
.pricing .row .col .content h2 { 
  font-size: 25px;
  font-family: "Bold";
  color: #fff;
}
.pricing .row .col .content h1 { 
  font-size: 35px;
  font-family: "Bold";
  color: #fff;
}
.pricing .row .col .content .its-price { 
  font-size: 22px;
  color: #09aff4;
  position: relative;
}
.pricing .row .col .content h4 { 
  font-size: 15px;
  font-family: "Thin";
  font-family: 300;
  color: #fff;
  filter: brightness(50%);
}
.pricing .row .col .content .planned { 
  border: 2px solid #09aff4;
  border-radius: 25px;
  margin: 20px 50px;
  
}
.pricing .row .col .content ul { 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  padding: 20px 0;
}
.pricing .row .col .content ul li { 
  font-size: 16px;
  font-family: "Regular";
  color: #fff;
  font-weight: 300;
}
.pricing .row .col .btn { 
  position: relative;
  text-align: center;
}
.pricing .row .col .btn a button { 
  width: 200px;
  padding: 15px 19px;
  font-size: 15px;
  font-family: "Bold";
  font-weight: 300;
  color: #09aff4;
  border: 2px solid #09aff4;
  border-top-left-radius: 6px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 6px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.pricing .row .col .btn a button:hover { 
  background: #09aff4;
  color: #fff;
  transition: 0.3s ease-in;
}
.pricing .row #another { 
  background-color: #09aff4;
  flex-basis: 25%;
  position: relative;
  border: 1px solid #0d6efd;
  border-radius: 10px;
  text-align: center;
  padding: 50px 10px;
  overflow: hidden;
}
.pricing  .row #another .content .planned-worth { 
  border: 2px solid #fff;
  border-radius: 25px;
  margin: 20px 50px;
}
.pricing .row #another .btn-white { 
  position: relative;
}
.pricing .row #another .btn-white a button { 
  width: 200px;
  padding: 15px 19px;
  font-size: 15px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  border: 2px solid #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 6px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.pricing .row #another .btn-white a button:hover { 
  background-color: #fff;
  color: #09aff4;
  transition: 0.3s ease-in;
}
.pricing .row #another .translateY { 
  position: absolute;
    color: #09aff4;
    width: 100%;
    background: #fff;
    left: 75px;
    transform: rotate(40deg);
}
.quotes { 
  background:url(../Images/background\ image\ 3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.quotes::before { 
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: #0d1020;
 }
 .quotes .container { 
  position: relative;
 }
 .quotes .center { 
  text-align: center;
  padding: 35px 0;
  position: relative;
 }
 .quotes .mid { 
  position: relative;
  padding: 15px 0;
  text-align: center;
 }
 .quotes .content { 
  position: relative;
  padding: 15px 150px;
  text-align: center;
 }
 .quotes .name { 
  position: relative;
  padding: 15px 0;
  text-align: center;
 }
 .quotes .center h3 { 
  font-size: 17px;
  font-family: "Bold";
  font-weight: 300;
  color: #09aff4;
  padding: 10px 0;
  text-transform: uppercase;
 }
 .quotes .center h3::before { 
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  right: 46%;
  top: 51px;
  border-radius: 100%;
 }
 .quotes .center h3::after { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: 46%;
  top: 51px;
  border-radius: 100%;
 }
 .quotes .center h1 { 
  font-size: 35px;
  color: #fff;
  font-family: "Bold";
  font-weight: 300;

 }
 .quotes .mid img { 
  width: 75px;
  border: 3px solid #09aff4;
  border-radius: 100%;
 }
 .quotes .content h2 { 
  font-family: "Thin";
  font-weight: 600;
  color: #fff;
  filter: brightness(70%);
 }
 .quotes .name h3 { 
  font-size: 20px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  filter: brightness(90%);
 }
 .quotes .name h4 { 
  font-size: 16px;
  font-family: "Bold";
  font-weight: 200;
  color: #fff;
  filter: brightness(50%);
 }
 .news { 
  padding: 50px 100px;
  background-color: #0d1020;
 }
 .news .title { 
  text-align: start;
  position: relative;
 }
 .news .title h3 { 
  font-size: 17px;
  font-family: "Bold";
  font-weight: 300;
  color: #09aff4;
  padding: 10px 0;
  text-transform: uppercase;
 }
 .news .title h3::before { 
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: -20px;
  top: 17px;
  border-radius: 100%;
 }
 .news .title h3::after { 
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  color: #0d6efd;
  left: 60px;
  top: 17px;
  border-radius: 100%;
 }
 .news .info { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
 }
 .news .info h2 { 
  font-size: 35px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
 }
 .news .info button { 
  float: right;
  width: 200px;
  padding: 15px 19px;
  font-size: 16px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  background-color: #09aff4;
  border: 2px solid #09aff4;
  border-top-left-radius: 6px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  outline: none;
 }
 .news .info button:hover { 
  background-color: transparent;
  color: #09aff4;
  transition: 0.3s ease-in;
 }
 .news .row { 
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  padding: 25px 0;
 }
 .news .row .col { 
  flex-basis: 33%;
  position: relative;
  padding: 0 0px 20px 0px;
  text-align: start;
  border-radius: 10px;
  background-color: #144c64;
  height: 85vh;
 }
 .news .row .col .icon { 
  position: relative;
 }
 .news .row .col .icon .date { 
  position: absolute;
    z-index: 111111;
    left: 15px;
    top: 14px;
    border: 1px solid rgba(6, 9, 34);;
    padding: 10px;
    border-radius: 25px;
    background: rgba(6, 9, 34);
    color: #fff;
    font-size: 16px;
    font-family: "Thin";
    font-weight: 1000;
    
   
 }
 .news .row .col .icon img { 
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: invert(1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }
 .news .row .col .icon img:hover { 
  transform: scale(1.03);
  transition: 0.3s ease-in;
 }
 .news .row .col .myProfile { 
  display: flex;
  justify-content: start;
  column-gap: 30px;
  align-self: center;
  padding: 20px;
  cursor: pointer;
 }
 .news .row .col .myProfile .right { 
  position: relative;
  bottom: 10px;
  left: 20px;
 }
 .news .row .col .myProfile .left { 
  position: relative;
 }
 .news .row .col .myProfile .right img { 
  width: 40px;
  object-fit: cover;
  filter: invert(1);
 }
 .news .row .col .myProfile .right h5 { 
  font-size: 13px;
  font-family: "Bold";
  font-weight: 100;
  color: #fff;
  filter: brightness(80%);
  position: relative;
    bottom: 30px;
    left: 45px;
 }
 .news .row .col .myProfile .left img { 
  width: 30px;
  object-fit: cover;
  filter: invert(1);
 }
 .news .row .col .myProfile .left h5 { 
  font-size: 13px;
  font-family: "Bold";
  font-weight: 100;
  color: #fff;
  filter: brightness(80%);
  position: relative;
    bottom: 30px;
    left: 40px;
 }
.news .row .col .more-info { 
  padding:0 20px;
}
.news .row .col .more-info h2 {
  font-size: 23px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  padding: 15px 0;
}
.news .row .col .more-info h2:hover { 
  color: #09aff4;
  transition: 0.3s ease-in;
}
.news .row .col .more-info h4 {
   font-size: 14px;
   padding: 15px 0;
   font-family: "Thin";
   font-weight: 700;
   color: #fff;
   filter: brightness(50%);
}
.news .row .col .btn { 
  position: relative;
  padding: 20px;
}
.news .row .col .btn a button { 
  border: none;
  background-color: transparent;
  color: #0d6efd;
  font-size: 16px;
  font-family: "Bold";
  font-weight: 300;
  cursor: pointer;
  outline: none;
}
.news .row .col .btn i:hover { 
  transform: translate(50% , 0);
  transition: 0.3s ease-out;
}
footer { 
  background: url(../Images/footer\ background\ image.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
footer::before { 
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #060922;
  opacity: 0.9;
}
footer .footer-top { 
  padding: 50px 100px;
  position: relative;
}
footer .footer-top .row { 
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
  align-items: center;
  padding: 25px 10px;
}
footer .footer-top .row .col { 
  flex-basis: 25%;
  position: relative;
}
footer .footer-top .row .col .img { 
  position: relative;
}
footer .footer-top .row .col .img img { 
  width: 100px;
  object-fit: cover;
}
footer .footer-top .row .col .content { 
  position: relative;
  text-align: start;
}
footer .footer-top .row .col .content h3 { 
  font-size: 18px;
  font-family: "Bold";
  color: #fff;
  filter: brightness(70%);
  font-weight: 300;
  padding: 15px 0;
}
footer .footer-top .row .col .btn { 
  position: relative;
  padding: 10px 0;
}
footer .footer-top .row .col .btn h3 { 
  font-size: 16px;
  font-family: "Bold";
  color: #fff;
  filter: brightness(75%);
}
footer .footer-top .row .col .btn button { 
  width: 100px;
  padding: 11px 13px;
  font-size: 16px;
  font-family: "Bold";
  color: #fff;
  font-weight: 1000;
  cursor: pointer;
  outline: none;
  background-color: #09aff4;
  border: 2px solid #09aff4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
    right: 0;
    top: 35px;
}
footer .footer-top .row .col .btn input { 
  width: 100%;
  padding: 15px 19px;
  font-family: "Bold";
  color: #333;
  outline: none;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
}
footer .footer-top .row .col .btn span { 
  font-size: 14px;
  font-family: "Thin";
  font-weight: 600;
  color: #fff;
  filter: brightness(60%);
}
footer .footer-top .row .col h2 { 
  font-size: 22px;
  font-family: "Bold";
  color: #fff;
  font-weight: 300;
  text-align:center;
}
footer .footer-top .row .col ul { 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding: 15px 0;
}
footer .footer-top .row .col ul li { 
  font-size: 13px;
  font-family: "Bold";
  font-weight: 300;
  color: #fff;
  cursor: pointer;

}
footer .footer-top .row .col ul li:hover { 
  transform: translate(20% , 0);
  transition: 0.3s ease-in;
}
footer .footer-top .row .col ul li i { 
  font-size: 10px;
  color: #09aff4;

}
footer .footer-top .row .col h2 { 
  font-size: 22px;
  font-family: "Bold";
  color: #fff;
  font-weight: 300;
}
footer .footer-top .row .col .row-info { 
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: relative;
  padding: 10px 0;
}
footer .footer-top .row .col .row-info .right { 
  position: relative;
}
footer .footer-top .row .col .row-info .left { 
  position: relative;
}
footer .footer-top .row .col .row-info .left i { 
  font-size: 23px;
  color: #0d6efd;
}
footer .footer-top .row .col .row-info .right h4 { 
  font-size: 15px;
  font-family: "Thin";
  font-weight: 800;
  color: #fff;
}
footer .footer-top .row .col .icons { 
  display: flex;
  justify-content: starts;
  column-gap: 20px;
  align-items: center;
  padding: 20px 0;
}
footer .footer-top .row .col .icons i { 
  font-size: 15px;
  padding: 10px;
  border: 1px solid #09aff4;
  background: #09aff4;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  outline: none;
  width: 40px;
    height: 40px;
    text-align: center;
}
footer .footer-top .row .col .icons i:hover { 
  transform: translateY(-10px);
  transition: 0.3s ease-in;
  background-color: #fff;
  color: #09aff4;
}
footer .footer-bottom { 
  padding: 0 100px;
  position: relative;
}
footer .footer-bottom .row-bottom {   
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
footer .footer-bottom .row-bottom .col h4 { 
  font-size: 15px;
  font-family: "Bold";
  color: #fff;
}
footer .footer-bottom .row-bottom .col h3 { 
  font-size: 17px;
  font-family: "Bold";
  color: #fff;
}
footer .footer-bottom .row-bottom .col { 
  display: flex;
  column-gap: 20px;
  position: relative;
}
#last { 
  text-align: start;
}
footer .footer-bottom .row-bottom .col h3::after { 
  content: " ";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #09aff4;
  color: #09aff4;
  left: 48%;
  bottom: 0;
}
    /* Keyframes starts from there   */
    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @-webkit-keyframes important {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity:0;}
  }
    @keyframes transitionIn {
      from {
          opacity: 0;
          transform: translateY(-80deg);
      }
      to {
          opacity: 1;
          transform: rotateX(2);
      }
  }
@keyframes opacity {
  0% { 
    opacity: 0.4;
  }
  90% { 
    opacity: 0.4;
  }
  100% { 
    opacity: 1;
  }
}
@keyframes up {
  
}
@keyframes shadow {
   5% { 
    box-shadow: 0 2px 10px #0d6efd;
   }
   15% { 
    box-shadow: 0 2px 15px #0d6efd;
   }
   25% { 
    box-shadow: 0 2px 20px #0d6efd;
   }
   35% { 
    box-shadow: 0 2px 25px #0d6efd;
   }
   45% { 
    box-shadow: 0 2px 30px #0d6efd;
   }
   55% { 
    box-shadow: 0 5px 10px #0d6efd;  
   }
   65% { 
    box-shadow: 0 5px 15px #0d6efd;
   }
   75% { 
    box-shadow: 0 5px 20px #0d6efd;
   }
   85% { 
    box-shadow: 0 5px 25px #0d6efd;
   }
   100% { 
    box-shadow: 0 5px 30px #0d6efd;
   }
   20% { 
    border: 2px solid #0d6efd;
    opacity: 0.8;
   }
   40% { 
    border: 3px solid #0d6efd;
    opacity: 0.6;
   }
   60% { 
    border: 3px solid #0d6efd;
    opacity: 0.4;
   
   }
   80% { 
    border: 4px solid #0d6efd;
    opacity: 0.2;
   }
   100% { 
    border: 5px solid #0d6efd;
    opacity: 0.1;
   
   }
}
